<div class="header-container text-center margin-top-20">
    <h1>Gooberville</h1>
    <h2>To further nudge us to the meltdown.</h2>
</div>

<div class="flex-container input-wrapper margin-top-20">
    <mat-card>
        <mat-card-content>
            <form action="">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Enter phrase here</mat-label>
                        <input matInput #inputString name="inputString" [(ngModel)]="randomizedString" (input)="updateButtonState()"/>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="primary" [disabled]="!randomizedString" (click)="execRandomizer(inputString.value)">Randomize it!</button>
                </div>
            </form>        
        </mat-card-content>
    </mat-card>    
</div>

<div class="flex-container output-wrapper margin-top-20" *ngIf="randomizedStringList.length > 0">
    <mat-card *ngFor="let phrase of randomizedStringList">
        <mat-card-content>{{phrase}}</mat-card-content>
        <div matRipple [matRippleCentered]="centered">
            <img src="../assets/icons/clipboard.png" alt="small image of a clipboard, informing the user they can copy something to a clipboard" (click)="copyToClipboard(phrase)">
        </div>
    </mat-card>
</div>